body {
    font-family: sans-serif, Courier, monospace;
    color: #d4a373;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;

}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #ebe6ca;
    border: #d4a373 solid;
    color: #c4874a;
    border-radius: 5px;
    padding: 5px;
}

.game-info {
    display: flex;
    justify-content: center;
    height: 40px;
}



.game-board {
    background-color: #fefae0;
    width: fit-content;
    padding: 25px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 5px;
    margin-top: 20px;
}

.grid-row {
    border: 1px solid #d4a373;
    height: 25px;
    width: 25px;
    margin-top: 5px;
    background-color: #d4a373;

}

.is-right-click {
    background-image: url(flag-solid.svg);
    background-repeat: no-repeat;
}

i {
    position: absolute;
}

.number-hint {
    background-color: #ebe6ca;
    text-align: center;
}

.empty-cell {
    background-color: #ebe6ca;
}

.game-over {
    background-image: url(bomb-solid.svg);
    background-repeat: no-repeat;
}

.xmark {
    filter: invert(21%) sepia(83%) saturate(6911%) hue-rotate(357deg) brightness(106%) contrast(117%);
}